@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/neue_montreal_mono/PPNeueMontrealMono-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}